table {
    border-collapse: collapse;
    width: 100%;
}


td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffa500;
    color: white;
}

tr:nth-child(even) {
    /* 추가 */
    background-color: #f2f2f2;
}

.nav {
    text-align: center;
    height: 50px;
    width: 100%;
    list-style: none;
}

li {
    display: inline-block;
    text-align: center;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    /* 추가 */
    background-color: #ddd;
}

tr:hover td {
    background-color: #b3eda8;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}
.search{
    display: flex;
    justify-content: center;
}
.select{
    margin-top: 20px;
    margin-left: 20px;
}
</style>