<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상점 월별 매출</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <div class="nav">
    <li><a href="/">user</a></li>
    <li><a href="/store">store</a></li>
    <li><a href="/item">item</a></li>
    <li><a href="/orderitem">itemorder</a></li>
    <li><a href="/order">order</a></li>
    <li><a href="/kiosk">kiosk</a></li>
</div>
  <h1>매장 월별 매출</h1>
  <table border=1 width="100%">
    <div class="header">
      <tr>
        <th>Month</th>
        <th>revenues</th>
        <th>Count</th>
      </tr>
    </div>
    {% for item in revenues %}
    <tr>
      <td width="40%">{{item[0]}}</td>
      <td width="150px">{{item[1]}}</td>
      <td width="150px">{{item[2]}}</td>
    </tr>
    {% endfor %}
  </table>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <div>
    <canvas id="myChart"></canvas>
  </div>
  <script>
    const ctx = document.getElementById('myChart');
    var data = {
      labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
      datasets: [
        {
          label: '매출',
          data: {{ prices | tojson }},
          fill: false,
         
          
              },
            ],
          };

    var options = {
      responsive: true,
      maintainAspectRatio: false, // 차트의 가로 세로 비율을 유지하지 않음
      scales: {
        y: {
          beginAtZero: true,
        }
      }
    };


    new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
    });
  </script>
</body>

</html>