<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <div class="nav">
        <li><a href="/">user</a></li>
        <li><a href="/store">store</a></li>
        <li><a href="/item">item</a></li>
        <li><a href="/orderitem">itemorder</a></li>
        <li><a href="/order">order</a></li>
        <li><a href="/kiosk">kiosk</a></li>
    </div>
  <h6>레이블 클릭시 매장 월별 매출로 넘어갑니다</h6>
  <table border=1;>
    <div class="header">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Address</th>
        </tr>
    </div>
    {% for i in stores %}
    <tr>
      <tr onclick="location.href='/store/{{ i.id }}'">
      <td width ="40%">{{i.name}}</td>
      <td width ="150px">{{i.type}}</td>
      <td width ="150px">{{i.address}}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="pagination" ailgn="center">
    <a href="/store/?page={{1}}">처음으로</a>
    {% if pags > 1 %}
    <a href="/store/?page={{page-1}}">이전</a>
    {% endif %}
    {% for page_num in range(start_page, end_page) %}
    {% if page_num == page %}

    <strong>{{ page_num }}</strong>
    {% else %}
    <a href="/store/?page={{page_num}}">{{ page_num }}</a>
    {% endif %}
    {% endfor %}

    {% if end_page < total_pages %} <a href="/store/?page={{page+1}}">다음</a>
        {% endif %}
        
</div>
</body>
</html>