{% extends "base.html" %} {% block title %}메인 페이지{% endblock %} {% block content %} {% if
  current_user.is_authenticated %}
  <h1 class="text-center">안녕하세요, {{ current_user.username }} 님!</h1>
  {% include "alert.html" %}
  <div class="d-grid gap-2 d-flex justify-content-center">
    <form action="{{ url_for('profile_edit') }}" method="get">
      <input class="btn btn-primary" type="submit" value="프로필 수정하기" />
    </form>
    <form method="post" action="{{ url_for('logout') }}">
      <input class="btn btn-primary" type="submit" value="로그아웃" />
    </form>
    <form action="{{ url_for('view_users') }}">
      <input class="btn btn-primary" type="submit" value="사용자 정보" />
    </form>
    <form action="{{ url_for('withdrawal') }}" method="post">
      <input class="btn btn-primary" type="submit" value="탈퇴하기" />
    </form>
  </div>
  {% else %} {% include "alert.html" %}
  
  <div>
    <h1 class="h1 text-center">로그인</h1>
    <form action="{{ url_for('login') }}" method="post">
      <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" type="text" name="username" required />
        <label for="floatingInput">아이디</label>
      </div>
      <div class="form-floating">
        <input class="form-control" id="floatingPassword" type="password" name="password" required />
        <label for="floatingPassword">비밀번호</label>
      </div>
      <div class="d-grid gap-2">
        <input class="btn btn-primary" type="submit" value="로그인" />
      </div>
      <p class="text-center">
        아직 회원이 아니신가요?
        <a
          class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          href="{{ url_for('register') }}"
          >회원 가입하기</a
        >
      </p>
    </form>
  </div>
  {% endif %} {% endblock %}